body,
html {
    height: 100%;
    margin: 0;
}

#page-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    width: 57px;
    height: 57px;
    overflow: visible;
    border: 1px solid gray;
    display: flex;
    color: black;
    background-color: #FFF2D8;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 5px;
    font-weight: bold;
    font-family: 'Arial Rounded MT';
    font-size: 34px;
}

.result {
    font-size: 95px;
    font-family: 'Arial Rounded MT';
    padding: 0px;
}

.number-show {
    background-color: #BCA37F;
    transform: scale(10.0);
    transition: background-color 1.5s ease, transform 1.5s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 40px;
    z-index: 1000;
    font-family: 'Arial Rounded MT';
}

.color {
    width: 50px;
    height: 50px;
    margin: 3px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    display: inline-block;
    font-family: 'Arial Rounded MT';
}

.resultAturan1{
    width: 50px;
    height: 50px;
    margin: 3px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    display: inline-block;
    background-color: #1F1717;
    color: white;
    font-weight: bold;
    padding-top: 12px;
    font-family: 'Arial Rounded MT';
}

.resultAturan{
    margin: 3px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    display: inline-block;
    background-color: #BCA37F;
    color: black;
    font-weight: bold;
    padding-top: 12px;
    font-family: 'Arial Rounded MT';
    font-size: 26px;
}

.resultColor {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Arial Rounded MT';
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    font-family: 'Arial Rounded MT';
}

#result-border {
    border: 5px solid #BCA37F;
    border-radius: 20px;
    height: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Arial Rounded MT';
}

marquee {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    color: #fff;
    font-size: 40px;
    font-family: 'Arial Rounded MT';
}

#bagianatas {
    background-color: #BCA37F;
    font-family: 'Arial Rounded MT';
}

#bagianbawah {
    padding-bottom: 20px;
    font-family: 'Arial Rounded MT';
}

#bagianbawahkiri {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #DAC0A3;
    padding-bottom: 20px;
    font-family: 'Arial Rounded MT';
}

#bagianbawahkanan {
    display: flex;
    flex-direction: column;
    background-color: #BCA37F;
    padding-bottom: 20px;
    font-family: 'Arial Rounded MT';
}

#isibagianbawahkanan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #BCA37F;
    padding-right: 20px;
    padding-top: 20px;
    font-family: 'Arial Rounded MT';
}

#bennerkonsumen {
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Arial Rounded MT';
}

#pilihanwarnakupon {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Arial Rounded MT';
}

#tombolaksi {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: 'Arial Rounded MT';
}

/* Responsif terhadap ukuran layar kecil */
@media screen and (max-width: 767px) {
    li {
        width: 40px;
        height: 40px;
        overflow: visible;
        border: 1px solid gray;
        display: flex;
        color: black;
        background-color: #BCA37F;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        margin-top: 5px;
        font-weight: bold;
        font-size: 24px;
        font-family: 'Arial Rounded MT';
    }

    .result {
        font-size: 80px;
        font-family: 'Arial Rounded MT';
    }

    .number-show {
        background-color: #BCA37F;
        transform: scale(5.0);
        transition: background-color 1.5s ease, transform 1.5s ease;
        position: fixed;
        top: 50%;
        left: 45%;
        font-size: 20px;
        z-index: 1000;
        font-family: 'Arial Rounded MT';
    }

    .color {
        width: 50px;
        height: 50px;
        font-size: 12px;
        font-family: 'Arial Rounded MT';
    }

    .resultColor {
        font-size: 20px;
        font-family: 'Arial Rounded MT';
    }

    .number-list {
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Arial Rounded MT';
    }

    #result-border {
        border: 5px solid #BCA37F;
        border-radius: 20px;
        height: 150px;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-family: 'Arial Rounded MT';
    }

    #bagianbawah {
        padding-bottom: 10px;
        font-family: 'Arial Rounded MT';
    }

    #bennerkonsumen {
        height: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Arial Rounded MT';
    }

    #pilihanwarnakupon {
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: 'Arial Rounded MT';
    }

    #tombolaksi {
        gap: 5px;
        font-family: 'Arial Rounded MT';
    }
}
